body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar{
  background: #000;
  color: aliceblue;
  text-align: center;
  padding: 7px;
  align-items: center;
}
.search-box{
  font-size: 20px;
  outline: none;
  border-radius: 12px;
}

.product-list{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.product {
  margin: 10px;
  width: 270px;
}
.product .title,.actions{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.product .actions{
  border-top: 1px solid grey;
  padding-top: 2px;
  align-items: baseline;
}
.product .actions button{
  height: 40px;
  color: white;
  font-weight: 500;
  background: #4caf50;
  margin-top: 8px;
}

.cart-list{
  display: flex;
  flex: 0 0 25%;
  flex-flow: row wrap;
  height: 100vh;
  border: 1px solid grey;
  align-items: center;
}